name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4 # Atualizado para v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4 # Atualizado para v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew assembleRelease

      - name: Upload APK
        uses: actions/upload-artifact@v4 # CORREÇÃO: Versão v4 aqui
        with:
          name: Salyan-Manager-Release
          path: app/build/outputs/apk/release/*.apk
